
<div class="perfil">

    <div class="social-items">
        <i class="bi bi-instagram"></i>
        <i class="bi bi-whatsapp"></i>
        <i class="bi bi-facebook"></i>
    </div>
    
    <div class="main-container">
        <div class="container">
            <i class="bi bi-person-fill" style="font-size: 24px;"></i>
            <div>
                <i class="bi bi-cart-fill position-relative" style="font-size: 24px;">
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary" style="font-size: 12px;">+1 </span>          
                </i>
            </div>
        </div>
    </div>
</div>