
<div class="header ">
  <h1>
    Sodería <b>Los Primos</b> - Nuestra Historia
  </h1>
</div>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card">
        <div class="card-header">
           ¿ Quiénes Somos ?
        </div>
        <div class="content-card">
          <div class="card-body">
            <h5 class="card-title">Una empresa familiar</h5>
            <p class="card-text">Gracias a nuestra rapidez, eficiencia y honestidad, Soderia "Los Primos" se convirtió en una reconocida empresa de Planta de tratamiento de agua de Villa María y la zona. Buscamos que nuestros clientes queden satisfechos, por ello proporcionamos la mejor calidad y atención, con años de experiencia.</p>
          </div>
        <div class="contenedor-redondo">
            <img class="imagen-redonda" src="assets/img/logo_1.jpg" >
        </div>
          
        </div>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-header">
           ¿ Quiénes éramos ?
        </div>
        <div class="content-card">
          <div class="card-body">
            <h5 class="card-title">Una empresa familiar</h5>
            <p class="card-text">Sodería Los Primos, ubicada en la hermosa ciudad de Villa María, tiene una rica historia que se remonta a varias décadas atrás. Fundada por los padres de los actuales propietarios, la empresa nació del esfuerzo y la visión de una familia comprometida con ofrecer agua de la más alta calidad a la comunidad local.
    
              Desde sus humildes comienzos, los fundadores de Los Primos trabajaron incansablemente para establecer una sodería que no solo atendiera las necesidades básicas de hidratación, sino que también se convirtiera en un pilar de confianza y excelencia en la región. Con dedicación y perseverancia, lograron ganarse la confianza de los residentes de Villa María, quienes pronto reconocieron a Los Primos como un sinónimo de pureza y frescura.
              
              </p>
          </div>
          <img class="card-img-top img-fluid " src="/assets/img/sifon_antiguo.jfif" >
          
        </div>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    
    </div>
    <div class="buttons-carousel">

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
   
  </div>

  <div class="d-flex mt-5">
    <button class="css-button-3d--sand mx-auto p-2" (click)="volverHome()">Regresar</button>
  </div>
</div>

