<div id="carouselExampleDark" class="carousel carousel-dark slide" >
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        
        <div class="card">
            <div class="card-header">
                Producto Estrella
            </div>
            <div class="content-card">
              <div class="card-body">
                <h5 class="card-title">Agua envasada y desmineralizada</h5>
                <p class="card-text">El agua de Sodería Los Primos esta filtrada naturalmente. Mediante 5 procesos distintos de filtrado, nos permite darte la mejor calidad y un sabor inigualable para vos y tu familia.</p>
              </div>
            <div class="contenedor-redondo">
                <img class="imagen-redonda" src="assets/img/agua_pura.jpg" >
            </div>
              
            </div>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>

      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <!-- <div>
            <img src="" class="d-block w-50" alt="..." style="height: 300px;">
            <p class="w-50"> Servicio puerta apuerta</p>
        </div> -->
        <div class="card">
            <div class="card-header">
                Producto Estrella
            </div>
            <div class="content-card">
              <div class="card-body">
                <h5 class="card-title">Sifones de soda</h5>
                <p class="card-text">El agua con la que se fabrica la soda está filtrada mediante 5 procesos distintos para garantizarte la mejor calidad</p>
              </div>
            <div class="contenedor-redondo">
                <img class="imagen-redonda" src="assets/img/transporte_1.jpg" >
            </div>
              
            </div>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        
        
      </div>
      <div class="carousel-item">
        <div class="card ">
            <div class="card-header">
               Servicios
            </div>
            <div class="content-card">
              <div class="card-body">
                <h5 class="card-title">Transporte de productos</h5>
                <p class="card-text">Gracias a nuestra rapidez, eficiencia y honestidad, Soderia "Los Primos" se convirtió en una reconocida empresa de Planta de tratamiento de agua de Villa María y la zona. Buscamos que nuestros clientes queden satisfechos, por ello proporcionamos la mejor calidad y atención, con años de experiencia.</p>
              </div>
            <div class="contenedor-redondo">
                <img class="imagen-redonda" src="assets/img/transporte_1.jpg" >
            </div>
              
            </div>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
