.image{
    width: 200px;
    height: 200px;
}
.card{
    align-items: center;
    max-width: 15rem;
    padding: 10px;
}

@media(max-width:800px){

    
    .card{
        width: 13rem;
        padding: 0;
    }
}