<div class="main-container">



  <div class="container  ">
    
    <div class="title">
      <p style="color: white;">Soderia <b>Los Primos</b></p>
  
      <h2>
        Tu soda & agua favorita desde la fábrica a tu mesa
      </h2>
         
    </div>
    <div class="contenedor-redondo">
        <img class="imagen-redonda" src="assets/img/logo_1.jpg" >
    </div>

  </div>

    <div class="button-container">
      <button class="css-button-3d--sand" (click)="verProductos()">Ver productos</button>
    </div>

    
    
  </div>
  

  

<div class="slider">
  <app-slider></app-slider>

</div>